.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 200px auto;
}

.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.slider {
    width: 80%;
}

button {
    width: 50%;
    padding: 10px;
    border:0;
    border-radius: 6px;
    background-color: rgb(28, 17, 134);
    color: white;
}

.sketch-grid {
    display: flex;
    flex-direction: column;
    justify-content: stretch; /* Distrubte items evenly to fill container */ 
    padding: 0;
    width: 400px;
    height: 400px;
}

.row {
    display: flex;
    justify-content: stretch; /* Distrubte items evenly to fill container */
    padding: 0;
    min-width: 100px;
}

.sketch-grid, .control-panel {
    border: 2px solid black;
    border-radius: 5px;
}